<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to static CSS file using Flask framework's url_for function -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Hello Flask</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('about')}}">About</a></li>
            <li><a href="{{ url_for('contact')}}">Contact</a></li>
            <li><a href="{{ url_for('careers')}}">Careers</a></li>


        </ul>
    </nav>
    <!-- Defines a block named "content" for template inheritance. -->
    {% block content%}
    {% endblock %}
</body>
</html>